body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wyre-container {
  text-align: center;
  background-color: grey;
  max-width: 500px;
  padding: 30px;
  margin: 50px 0;
  border-radius: 5%;
}

.wyre-card {
  text-align: center;
  max-width: 500px;
  padding: 10px;
  margin: 10px auto;
  background: grey !important;
  color: black;
  text-decoration: none;
}
.wyre-card:hover {
  text-decoration: none;
}

.drop-zone {
  /* background: red; */
  outline: 2px dotted black;
  padding: 50px;
  margin: 40px 10px;
  background: white;
}
